.hideOnSmallWidth {
  @media (max-width: 500px) {
    display: none !important;
  }
}
.showOnSmallWidth {
  @media (min-width: 500px) {
    display: none !important;
  }
}
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.board_wrapper {
  width: 100%;
  height: 100%;
  float: left;
  padding-left: 2px;
}

.info_wrapper {
  margin: 10px 0 0;
}
.info {
  width: 100%;
  display: table;
  height: calc(100% - 52px);
}

.action_buttons {
  width: 100%;
  height: 48px;
}

.load-next-button {
  padding: 10px 20px 10px 20px;
}

.wrong-icon {
  color: red;
}

.right-icon {
  color: green;
}


