<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Opening Training</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div padding class="container">

    <div class="board_wrapper" id="board-wrapper">
      <span>Orientation</span>
      <ion-select [(ngModel)]="orientation" (ionChange)="onOrientationChangedHandler()" okText="OK" cancelText="Dismiss">
        <ion-select-option value="flip">Random</ion-select-option>
        <ion-select-option value="white">White</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
      </ion-select>
      <button *ngIf="shouldDisplayStartButton" class="load-next-button" (click)="loadOpening()">
        <span *ngIf="!isFirstOpeningLoaded"> Start </span>
        <span *ngIf="isFirstOpeningLoaded"> Next </span>
      </button>
      <chessboard #chessboard></chessboard>
    </div>

    <div class="info_wrapper">
      <div class="info">
        <div *ngIf="multipleChoiceCard">
          <form [formGroup]="multipleChoiceForm">
            <ion-list>
              <ion-radio-group>
                <ion-list-header>
                  <ion-label>Select the name of this opening</ion-label>
                </ion-list-header>

                <ion-item
                  *ngFor="let multipleChoiceItem of multipleChoiceCard.multipleChoiceItems; let i = index"
                  (click)="multipleChoiceItemSelected(multipleChoiceItem, i)"
                  text-wrap
                >
                  <ion-label>{{multipleChoiceItem.answer}}</ion-label>
                  <ion-radio slot="start"></ion-radio>
                  <span *ngIf="selectedIndex === i">
                    <ion-icon *ngIf="!multipleChoiceItem.isCorrectAnswer" class="wrong-icon" name="close-circle-outline"></ion-icon>
                    <ion-icon *ngIf="multipleChoiceItem.isCorrectAnswer" class="right-icon" name="checkmark-circle-outline"></ion-icon>
                  </span>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </form>
        </div>
      </div>
    </div>
  </div>
</ion-content>
