<ion-app [ngClass]="{'ion-hide': !initialized}">
  <ion-split-pane when="false">
    <ion-menu menuId="mainMenu">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>{{'app.menu' | translate}}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content [lazy-load-images]="{ rootMargin: '50px' }">
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item *ngFor="let p of prePages; trackBy: trackFunc" lines="full" [routerDirection]="'root'" (click)="handleMenuItemClicked(p)">
              <ion-icon *ngNoCheck slot="start" [name]="p.icon" color="dark"></ion-icon>
              <ion-label>
                {{'app.' + p.title | translate}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <!-- main is required for some reason. -->
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
