<div padding class="container">
  <ion-toolbar *ngIf="exerciseType === exerciseTypeEnums.EXPLORER" color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="handleSkipBackwardClicked()">
        <ion-icon slot="icon-only" name="skip-backward"></ion-icon>
      </ion-button>
      <ion-button (click)="handleRewindClicked()">
        <ion-icon slot="icon-only" name="rewind"></ion-icon>
      </ion-button>
      <ion-button (click)="handleFastForwardClicked()">
        <ion-icon slot="icon-only" name="fastforward"></ion-icon>
      </ion-button>
      <ion-button (click)="handleSkipForwardClicked()">
        <ion-icon slot="icon-only" name="skip-forward"></ion-icon>
      </ion-button>
      <ion-button (click)="handleReloadClicked()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar *ngIf="exerciseType === exerciseTypeEnums.OPENING_QUIZ" color="primary">
      <ion-button (click)="handleShuffleClicked()">
          <ion-icon slot="icon-only" name="shuffle"></ion-icon>
      </ion-button>
      <ion-button (click)="handleSkipForwardClicked()">
          <ion-icon slot="icon-only" name="skip-forward"></ion-icon>
      </ion-button>
      <ion-button (click)="handlePlayClicked()">
          <ion-icon slot="icon-only" name="play"></ion-icon>
      </ion-button>
      <ion-button (click)="handleReloadClicked()">
          <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
      <ion-button (click)="displayAnswer()">
          <ion-icon slot="icon-only" name="help"></ion-icon>
      </ion-button>
  </ion-toolbar>

  <div class="board_wrapper" id="board-wrapper">
    <chessboard #chessboard></chessboard>
  </div>
  <ion-content>
    <div padding class="comment">{{ commentForPosition }}</div>
    <div padding *ngIf="currentGameHeader && shouldDisplayCorrectAnswer" class="header">
      {{ currentGameHeader }}
    </div>
  </ion-content>
  <!--    <button (click)="displayAnswer()">Display Answer</button>-->

  <!--      <ion-select [(ngModel)]="orientation" (ionChange)="onOrientationChangedHandler()" okText="OK" cancelText="Dismiss">-->
  <!--        <ion-select-option value="flip">Random</ion-select-option>-->
  <!--        <ion-select-option value="white">White</ion-select-option>-->
  <!--        <ion-select-option value="black">Black</ion-select-option>-->
  <!--      </ion-select>-->

</div>
