<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Square Color</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="wrapper-select-exercise">
    <ion-list>
      <ion-item>
        <ion-label>Exercise Type</ion-label>
        <ion-select (ionChange)="handleSquareGroupSelected($event)" multiple="true" placeholder="Select One" cancelText="Dismiss" okText="OK">
          <ion-select-option *ngFor="let squareGroup of squareGroups;" value="{{squareGroup.name}}">{{squareGroup.name}}</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-list>
  </div>

  <ion-button (click)="toggleExercise()" class="button-toggle-exercise">
    <span *ngIf="!exerciseStarted">Start Exercise</span>
    <span *ngIf="exerciseStarted">End Exercise</span>
  </ion-button>
  <div style="clear: both"></div>


  <div *ngIf="exerciseStarted">

    <div class="wrapper-progress">
      <ion-icon class="icon-answer-right" name="checkmark-circle-outline"></ion-icon>
      <span class="right-answer-count">{{rightAnswerCount}}</span>
      &nbsp; &nbsp; &nbsp;
      <ion-icon class="icon-answer-wrong" name="close-circle-outline"></ion-icon>
      <span class="wrong-answer-count">{{wrongAnswerCount}}</span>
      &nbsp; &nbsp; &nbsp;
      <ion-icon class="icon-countdown" name="alarm"></ion-icon>
      <span class="countdown">{{totalExerciseTimeInSeconds}}</span>
    </div>

    <ion-card>
      <ion-card-header>Square</ion-card-header>
      <div class="current-square">{{currentSquare}}</div>
      <div class="wrapper-buttons">
        <ion-button [disabled]="buttonsDisabled" (click)="evaluateAnswer('light')">Light</ion-button>
        <ion-button [disabled]="buttonsDisabled" (click)="evaluateAnswer('dark')">Dark</ion-button>
      </div>
    </ion-card>

  </div>



</ion-content>
