ion-card {
  text-align: center;
  padding: 20px;
}

.current-square {
  font-size: 30px;
}

.wrapper-select-mode,
.wrapper-select-exercise {
}

.wrapper-answer-container {
  margin-top: 30px;
}

.button-toggle-exercise {
  position: relative;
  top: 12px;
  left: 20px;
}

.wrapper-buttons {
  margin-top: 20px;
}

.wrapper-progress {
  padding: 10px;
}

.progress-icon {
  position: relative;
  top: 7px;
  margin-right: 5px;
  font-size: 30px;
}

.progress-text {
  font-size: 30px;
}

.icon-answer-right {
  color: green;
}

.icon-countdown {
  color: lightgray;
}

.icon-answer-wrong {
  color: red;
}

.wrong-answer-count {
  font-size: 40px;
}

.answer-right {
  color: #ffffff;
  font-size: 15px;
  margin-top: 5px;
}

.answer-wrong {
  color: red;
  font-size: 15px;
  margin-top: 5px;
}
